---
import Navbar from "../components/navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Us - AIGSQ - Queen's University</title>
    </head>
    <body>
        <Navbar></Navbar>
    </body>
</html>