---
import Navbar from "../components/navbar.astro";
import Title from "../components/title_slide.astro"
import OurMission from "../components/our_mission.astro"
import WhatWeDo from "../components/what_we_do.astro";
import OurMemories from "../components/our_memories.astro";
import Footer from "../components/footer.astro";

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="aigsq/logoslim.jpg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<title>AIGSQ - Queen's University</title>
		<link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
	</head>
	<body>
		<Navbar></Navbar>
		<Title></Title>
		<OurMission></OurMission>
		<WhatWeDo></WhatWeDo>  
		<OurMemories></OurMemories>
		<Footer></Footer>
	</body>
</html>