---
import Navbar from "../components/navbar.astro";
import Title from "../components/title_slide.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AIGSQ - Queen's University</title>
	</head>
	<body>
		<Navbar></Navbar>
		<Title></Title>
	</body>
</html>