---
import Navbar from "../components/navbar.astro";
import Title from "../components/title_slide.astro"
import OurMission from "../components/our_mission.astro"
import WhatWeDo from "../components/what_we_do.astro";
import OurMemories from "../components/our_memories.astro";
import Footer from "../components/footer.astro";

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="bienUT5A-Q_-fUCcufEn4onA1Q8FkvXquFsOKu2AKqQ" />
		<link rel="icon" type="image/svg+xml" href="aigsq/logoslim.jpg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<title>AIGSQ - Queen's University</title>
		<link rel="shortcut icon" href="/favicon.jpg" type="image/x-icon">
	</head>
	<body>
		<div id="orientation-banner" class="hidden">
			Please rotate your device to landscape mode for the best experience.
		</div>		  
		<Navbar></Navbar>
		<Title></Title>
		<OurMission></OurMission>
		<WhatWeDo></WhatWeDo>  
		<OurMemories></OurMemories>
		<Footer></Footer>
		<script>
			function checkOrientation() {
				const banner = document.getElementById('orientation-banner');
				// Check if the device is in portrait mode
				if (window.innerHeight > window.innerWidth) {
					banner.classList.remove('hidden'); // Show the banner
				} else {
					banner.classList.add('hidden'); // Hide the banner
				}
			}
			// Initial check
			checkOrientation();

			// Add event listeners for orientation change and window resize
			window.addEventListener('resize', checkOrientation);
		</script>
	</body>
</html>

<style>
	#orientation-banner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #ffcc00; /* Banner color */
		color: #000; /* Text color */
		text-align: center;
		padding: 10px;
		font-size: 16px;
		z-index: 1000; /* Ensure it appears above other content */
	}

	.hidden {
		display: none; /* Hide the banner */
	}
</style>