---

---

<footer>
    <h3>Indian Graduate Student Association at Queen's University!</h3>
    <hr>
    <div>
        <!-- Phone: 613-770-1059
Email: aigsq@clubs.queensu.ca
Useful links: 
fb: https://www.facebook.com/aigsq
Insta: https://www.instagram.com/aigsq/ -->
    </div>
    <hr>
</footer>

<style>
    footer {
        padding: 6vh 0 3vh;
    }
</style>