<nav>
    <img src="/logoslim.jpg" alt="">
    <div>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/events">Events</a>
        <a href="/membership">Membership</a>
        <a href="/contact">Contact Us</a>
    </div>
</nav>

<style>
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4.5vh 6vh 2.5vw;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 1.5rem;
    }

    img {
        height: 5rem;
        width: 5rem;
    }

    nav div a {
        text-decoration: none;
        margin-right: 5vw;
        color: #5E0000;
    }

    nav div a:last-child {
        margin-right: 10vw;
    }
</style>