---

---

<section class="our-mission-container">
    <div>
        <div>
            <h2>Our Mission</h2>
            <p>
                The AIGSQ club is dedicated to fostering an environment of peer-to-peer guidance, offering unwavering support and career mentorship to facilitate the professional development of its members. We take pride in promoting Indian culture and diversity within the Queen's Community, aiming to serve our members diligently so they can excel at Queen's. We create a supportive ecosystem that encourages sharing relevant questions and concerns by facilitating networking opportunities among incoming students, current students, and alumni.
            </p>
            <p>
                Our mission is to empower each member to achieve their fullest potential, personally and professionally, while celebrating and integrating the rich diversity of Indian culture into our vibrant community.
            </p>
        </div>
        <img src="aigsq/logoslim.jpg" alt="">
    </div>
</section>

<style>
    section {
        padding-top: 10vh;
        position: absolute;    /* Additional effect of removing this element from normal document flow */
        left: 0;
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    div {
        position: relative;
        width: 100%;
        /* background-color: aqua; */
    }

    div img {
        position: relative;
        z-index: 5;
        width: 40%;
        height: auto;
        padding: 10vh 0;
    }

    div div {
        position: absolute;
        background-color: #006E5E;
        left: 25%;
        width: 40%;
        top: 20%;
        padding-left: 17%;
        padding-right: 3%;

    }
</style>