<main>
    <h1>Why Should You Join Us?</h1>
    <div class="flex-container">
        <div class="flex-item">
            <h2>Events</h2>
            <p>Are you eager to plan diverse events throughout the year?</p>
        </div>
        <div class="flex-item">
            <h2>Community</h2>
            <p>Passionate about hosting and sharing your academic journey?</p>
        </div>
        <div class="flex-item">
            <h2>Networking</h2>
            <p>Looking forward to networking with like-minded individuals?</p>
        </div>
    </div>

    <h1>Ways to Get Involved</h1>
    <div class="flex-container">
        <div class="flex-item">
            <div class="rect"></div>
            <span>Member</span>
        </div>
        <div class="flex-item">
            <div class="rect"></div>
            <span>Ambassador</span>
        </div>
        <div class="flex-item">
            <div class="rect"></div>
            <span>Join the Team</span>
        </div>
    </div>
</main>

<style>
    main h1 {
        font-family: 'League Spartan';
        font-weight: 700;
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: 1px;
        margin-top: 2.5%;
        margin-bottom: 2%;
        color: black;
        text-align: center;
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
    }

    .flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 20%;
        max-width: 20%;
    }

    .flex-item h2 {
        font-family: 'League Spartan';
        font-weight: 600;
        font-size: calc(4rem * 2 / 3);
        margin: 0;
    }

    .flex-item p {
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 1.4rem;
    }

    .flex-item span {
        font-family: 'League Spartan';
        font-weight: 500;
        font-size: calc(4rem * 36 / 90);
        margin-bottom: 7.5%;
    }

    .rect {
        background-color: azure;
        height: 360px;
        max-width: none;
        width: 340px;
    }
</style>