---

---

<div class="stat-bar-container">
    <section>
        <div>
            <p class="num">20+</p>
            <p class="stat">Members</p>
        </div>
        <div>
            <p class="num">100+</p>
            <p class="stat">Photos</p>
        </div>
        <div>
            <p class="num">50+</p>
            <p class="stat">Events</p>
        </div>
        <div>
            <p class="num">80+</p>
            <p class="stat">Memories</p>
        </div>
    </section>
</div>

<style>
    .stat-bar-container {
        background-color: #5E0000;
        padding: 3vh 0;
        display: flex;
        justify-content: center;
    }

    section {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    section div {
        /* text-decoration: none; */
        text-align: center;
    }
</style>