---
let members = '20+';
let photos = '100+';
let events = '50+';
let memories = '80+';
---

<div class="stat-bar-container">
    <section>
        <div>
            <p class="num">{members}</p>
            <p class="stat">Members</p>
        </div>
        <div>
            <p class="num">{photos}</p>
            <p class="stat">Photos</p>
        </div>
        <div>
            <p class="num">{events}</p>
            <p class="stat">Events</p>
        </div>
        <div>
            <p class="num">{memories}</p>
            <p class="stat">Memories</p>
        </div>
    </section>
</div>

<style>
    .stat-bar-container {
        background-color: #5E0000;
        padding: 3vh 0;
        display: flex;
        justify-content: center;
        margin-bottom: 6vh;
    }

    section {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    section div {
        /* text-decoration: none; */
        text-align: center;
    }

    .num {
        font-family: 'Inter';
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
    }
    .stat {
        font-family: 'Inter';
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
    }
</style>