---

---

<div class="title-slide-container">
    <img src="Home/title-bg.jpg" alt="">
    <div class="overlay"></div>
    <h1>Welcome to the Indian Graduate Student Association at Queen's University</h1>
    <h2>Empowering Indian Scholars, Embracing Cultural Diversity!</h2>
    <section>
        <a href="/about"><span>Learn More</span></a>
        <a href="/membership"><span>Join Us</span></a>
    </section>
</div>
  

<style>
    /* Set the position of the full-width content to relative to 
        make coordinate system of absolutely positioned children relative to this container */
    .title-slide-container {
        position: relative;
        width: 100%;            Make the content span the entire width of its container
    }

    .title-slide-container img {
        width: 100%;            /* Make the content span the entire width of its container */
        height: auto;           /* Allow the height to adjust proportionally to maintain aspect ratio */
    }

    .overlay {
        position: absolute;     /* Position the overlay relative to its closest positioned ancestor */
        top: 0;
        left: 0;
        width: 100%;
        height: 99.6%;
        background-color: rgba(238, 126, 55, 0.77); 	/* Orange color with 77% opacity */
    }

    h1 {
        position: absolute;
        top: 16%;
        left: 8%;
        font-family: 'League Spartan';
        font-weight: 700;
        font-size: 6.5rem;
        letter-spacing: 2px;
        line-height: 1.25;
        color: white;
    }

    h2 {
        position: absolute;
        top: 62%;
        left: 8%;
        font-family: 'Libre Baskerville';
        font-size: 3rem;
        color: white;
    }

    section {
        position: absolute;
        top: 76%;
        left: 8%;
        height: 5.5%;
        width: 28%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    section a {
        background-color: #006E5E;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        text-decoration: none;
        /* border-radius: 15px; */
    }

    section a span {
        color: white;
        font-family: 'Inter';
        font-size: 1.25rem;
    }
</style>