---
import StatBar from "../components/stats_bar.astro";
---

<div class="what-we-do-container">
    <div class="what-we-do">
        <h2>What we do...</h2>
        <section>
            <div>
                <img src="Home/handshake_icon.png" alt="">
                <p>Peer-to-Peer Support</p>
            </div>
            <div>
                <img src="Home/teaching_icon.png" alt="">
                <p>Career Mentorship</p>
            </div>
            <div>
                <img src="Home/presentation_icon.png" alt="">
                <p>Professional Development</p>
            </div>
            <div>
                <img src="Home/talking_icon.png" alt="">
                <p>Cultural Exchange</p>
            </div>
        </section>
    </div>
    <StatBar></StatBar>
</div>
  

<style>
    .what-we-do {
        background-color: #DFE0DF;
        padding: 6vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-family: 'League Spartan';
        font-size: 3rem;
        padding-bottom: 3vh;
    }

    p {
        font-family: 'League Spartan';
        font-weight: 700;
        font-size: 1.5rem;
    }

    section {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    section div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 20%;
        height: auto;
    }
</style>